@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

  /*styling for bubbles*/
  
   /*buttons */

:root {
--text-color: #c6d9ec;
--shadow-color: hsla(210, 40%, 52%, .4);
--btn-color: hsl(210, 80%, 42%);
--bg-color: #141218;
}

button {
position:relative;
padding: 10px 20px;  
border: none;
background: none;
cursor: pointer;

font-family: "Source Code Pro";
font-weight: 900;
text-transform: uppercase;
font-size: 30px;  
color: var(--text-color);

background-color: var(--btn-color);
box-shadow: var(--shadow-color) 2px 2px 22px;
border-radius: 4px; 
z-index: 0;  
overflow: hidden;   
}

button:focus {
outline-color: transparent;
box-shadow: var(--btn-color) 2px 2px 22px;
}

.right::after, button::after {
content: var(--content);
display: block;
position: absolute;
white-space: nowrap;
padding: 40px 40px;
pointer-events:none;
}

button::after{
font-weight: 200;
top: -30px;
left: -20px;
} 

.right, .left {
position: absolute;
width: 100%;
height: 100%;
top: 0;
}
.right {
left: 66%;
}
.left {
right: 66%;
}
.right::after {
top: -30px;
left: calc(-66% - 20px);

background-color: var(--bg-color);
color:transparent;
transition: transform .4s ease-out;
transform: translate(0, -90%) rotate(0deg)
}

button:hover .right::after {
transform: translate(0, -47%) rotate(0deg)
}

button .right:hover::after {
transform: translate(0, -50%) rotate(-7deg)
}

button .left:hover ~ .right::after {
transform: translate(0, -50%) rotate(7deg)
}

/* bubbles */
button::before{
content: '';
pointer-events: none;
opacity: .6;
background:
radial-gradient(circle at 20% 35%,  transparent 0,  transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
radial-gradient(circle at 75% 44%, transparent 0,  transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, var(--text-color) 5px, var(--text-color) 6px, transparent 6px);

width: 100%;
height: 300%;
top: 0;
left: 0;
position: absolute;
animation: bubbles 5s linear infinite both;
}


@keyframes bubbles {
from {
transform: translate();
}
to {
transform: translate(0, -66.666%);
}
}

*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      color: aliceblue;
      scroll-behavior: smooth;
  }
  body{
      background-color: #0e111a;
      margin: 0;
      padding: 0;
      scroll-behavior: smooth;
  }
  .header{
      height: auto;
      margin-top: 0px;
      background-image: url("https://images2.alphacoders.com/128/1286464.jpg");
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

  }
  .spn{
      width: fit-content;
      height: fit-content;
      background-image: linear-gradient(to right, rgb(255, 38, 0),rgb(255, 102, 0),rgb(250, 0, 0));
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      user-select: none;
  }
  .hii{
      font-size: 62px;
      font-family: 'poppins';
      font-family: 'New Rocker', cursive;

      font-weight:bolder;
      margin: 10px;
  }
  .hii3{
      font-size: 26px;
      font-family:'poppins' ;
      font-family: 'Alegreya Sans SC', sans-serif;
      font-weight: bolder;
      margin: 10px;
  }
  .about{
      color: black;
      padding: 10px 20px;
      border: 2px solid white;
      border-radius: 50px 200px 200px 200px;
      background-image: linear-gradient(to right,rgb(247, 79, 196), rgb(169, 22, 206), rgb(124, 0, 182));
      position: relative;
      bottom: -20px;
      margin: 0 auto;
      font-family: 'poppins';
      font-size:25px;
      width: fit-content;
      height: fit-content;
      transition: all 0.3s;
  }
  .about:hover{
    background-image: linear-gradient(to left,rgb(247, 79, 196), rgb(169, 22, 206), rgb(124, 0, 182));
    filter: blur(1.1px);
    border-radius:  200px 200px 200px 30px;
    transform: scale(1.3);

  }
  .radius h1{
    color: rgba(238, 36, 0, 0.808);
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 900;
    font-size: 45px;
  }
  .radius h2{
    color: rgba(209, 209, 209, 0.548);
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: bolder;
    font-size:30px;
   
  }
  .radius p{
    font-family: "poppins";
  }
  .sec{
    display: flex;
    
    flex-wrap: wrap;
    justify-content:space-evenly;
    transition: all 1s;
  }
  
  .radius{
    
    background-color: #07112e;
    background-image: linear-gradient(68deg, rgb(5, 36, 119),rgb(1, 28, 87),rgb(12, 30, 65));
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    transition: all .3s;
  
  }
  .radius:hover .r_front{
    background-attachment:local;
    
  }

  .main{
    position: relative;
    width:300px;
    height: 420px;
    margin: 20px;
    perspective: 900px;
    
  }
  .main:hover .card{
    transform: rotateY(-180deg);
  }
  .card{
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: all 1s;
   
  
  }
  .r_front{
    background-image: linear-gradient(68deg, rgb(146, 21, 4),rgb(192, 45, 0),rgb(153, 14, 9));
    background-image: url("https://img.freepik.com/free-vector/outer-space-with-alien-planets-explosion_107791-13941.jpg");
   
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 30;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  .r_back{
    background-image: linear-gradient(68deg, rgb(5, 33, 94),rgb(6, 26, 82),rgb(14, 29, 70));

    width: 100%;
    height: 100%;
    position: absolute;
    transform: rotateY(180deg);
    z-index: 20;
    overflow: auto;
  }
  .ra_imgs{
    width:150px;
    margin: 0 auto;
    perspective: 900;
    animation: fry .5s linear infinite alternate;
  }
  @keyframes fry{
    from{
      transform: scale(0.9) ;
    
    }
    to{
      transform: scale(1.1) ;
    }

  }
  .png{
    width: 120px;
  }
  .card_imgs{
    width: 40px;
  }
  .paren_card_imgs{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

  }
  .card_ul{
    list-style-type:disc;
    list-style-position: inside;
    font-family: 'poppins';
    text-transform: capitalize;
  }
  .h3_for_lang{
    font-family:'poppins' ;
    text-transform: uppercase;
    font-size: 15px;
  }

 
  #loader{
      background-color: #000000;
      display: grid;
      place-items: center;
      width: 100%;
      height: 100vh;
      position: fixed;
      z-index: 999999;


  }
  footer h3{
    font-size: 25px;
    font-family:"poppins";
  }
  footer{
    height: 200px;
    width: 100%;
  }
  .foot{
    width: 100%;
  }
  .fron1{
    background-image: url("https://m.media-amazon.com/images/M/MV5BZDI5ZjYxYzktOTk5NC00YTRiLTljNmEtYzljNWVjMzhmMmIxXkEyXkFqcGdeQXVyNDU0MzQ2OTg@._V1_FMjpg_UX1000_.jpg");
    /* background-attachment: fixed;
    background-size: cover;
    background-position: center; */

  }
  .fron2{
    background-image: url("https://wallpapercave.com/wp/wp6591998.jpg");
    /* background-attachment: fixed;
    background-size: cover; */
  }
  .fron3{
    background-image: url("https://i.pinimg.com/originals/4a/5d/01/4a5d01d6eec9657fc876e4f445d19e56.jpg");
    /* background-attachment: fixed;
    background-size: cover; */
  }
  .fron4{
    background-image: url("https://iphoneswallpapers.com/wp-content/uploads/2021/11/Black-Hat-Hacker-iPhone-Wallpaper.jpg");
    /* background-attachment:fixed;
    background-size: cover;
  */}
 